
<app-paginabase [info]="infoPaginaBase"></app-paginabase>
<!--  -->
<div class="container">
    <div class="row">    
        <div class="col-12">

                <div class="contenedor reg_residencias">
                    <div class="row">
                            <div class="col-12 col-md-4 icono">
                                    <span class="icon-reg_residencias"></span>
                            </div>
                            <div class="col-12 col-md-8 ingresar">
                                <h1>Ingreso de residente</h1>
                                <p>Si ya sos residente y participaste alguna vez... entra por aca con los datos.</p>

                                <form [formGroup]="ingreso"  (ngsubmit)="formularioEnviar(inscripcionConcurso.value)">
                                    <mat-form-field>
                                        <input matInput placeholder="Número de documento" formControlName="numeroDocumento" required>
                                        <mat-error *ngIf="numeroDocumento.invalid"></mat-error>
                                    </mat-form-field>
                                    
                                    <mat-form-field>
                                        <input matInput placeholder="Código alfanumérico" formControlName="codigoAlfanumerico" required>
                                        <mat-error *ngIf="codigoAlfanumerico.invalid"></mat-error>
                                    </mat-form-field>
                                    <!--      -->
                                    <div class="contenedorDeBotones">
                                        <app-c-comons-botonctextoeicono [infoBoton]="botones.ingresar" (click)="ingresar()"></app-c-comons-botonctextoeicono>
                                    </div>

                                </form>
                            </div>
                        
                    </div>
                </div>
                <div class="contenedor">
                    <div class="row">
                        <div class="col-12 col-md-7">
                            <h2>Crear residente</h2>
                            <p>Si es tu primera inscripción, completa el formulario.</p>
                            <p [innerHTML]="infoContacto"></p>
                        </div>
                        <div class="col-12 col-md-5 pos">
                            <div class="contenedorDeBotones"><!--  [style.display]="_pasoActual === 4 ? 'flex': 'none'" -->
                                <app-c-comons-botonctextoeicono [infoBoton]="botones.crear" (click)="residenteCrea()"></app-c-comons-botonctextoeicono>
                            </div>
                        </div>
                    </div>
                </div>

                <p>
                    Residentes
                    <br>
                     {{ residentes | json }}
                     <br>
                      {{ residentes.length }}
                </p>
               


        </div>
    </div>
</div>