.contenedor{
    position: relative;
    justify-self: center;
    width: 500px;
    left: -250px;
    margin: 40px 0 40px 50%;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 1px 4px rgba(0,0,0,.5) !important;
    color: white;
}

.contenedor .icono > span{    
    display: flex;
    justify-content: center;
    font-size: 192px; 
    margin-bottom: 20px;
}

.ingresar *{    color: white; }

.contenedorDeBotones{   display: flex; justify-content: flex-end;width: 100%; margin-top: 10px; }
.contenedorDeBotones > *:only-child{   margin: 0px !important; }

form{       margin-top: 20px; }
form > *{   width: 100%; }
.pos{display: flex; align-self: center;}
h1{ margin-bottom: 10px; }
h2{ margin-bottom: 6px; }
p{ margin-bottom: 2px; }
p:last-child{ margin-bottom: 0px; }

/*  border: violet 1px dotted;  */ 
/* 
form{    width: 100%;     }
form > div{
    position: relative;
    justify-self: center;
    width: 500px;
    left: -250px;
    margin: 40px 0 40px 50%;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 1px 4px rgba(0,0,0,.5) !important;
}

form .login{
    display: flex;
    flex-direction: row;
    justify-self: center;
}

form .login > div:first-child span{
    font-size: 192px;
}

form .login > div:last-child{
    display: flex;
    flex-direction: column;
}
form h1{    margin-bottom: 20px;    }

form > div,
form > div *{    color: white !important;   }
 
.contenedor,
.contenedor *,
h1, h2, p{
    color: white;
}
*/
