.buscador{
    display: flex;
    position: absolute;
    right: 0px;
    flex-direction: row;

    margin: 20px 0;
    padding: 10px 20px;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0,0,0,.5) !important; 
    background-color: lightgray;
    /*  */
}
.formulario{
    height: 100px;
}

.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }