<app-paginabase [info]="infoPaginaBase"></app-paginabase>

<div class="container">
  <div class="row">
    <div class="col-12 Formulario">



        <div class="example-container">
            <mat-form-field>
              <input matInput placeholder="Input">
            </mat-form-field>
          
          </div>


      <!-- <form #formConsulta="ngForm" class="col-12"> xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
      <form class="col-12 formulario">


     


      <div class="buscador">
        <div class="w50_">
          <input type="text" placeholder="Ingrese código" name="dato">
        </div>
        <div class="w50_">
          <app-c-comons-botonctextoeicono [infoBoton]="botones.buscar" (click)="consultarPreinscripcionConsulta(dato)"></app-c-comons-botonctextoeicono>
        </div>
      </div>

      </form>
      <hr>

      <div *ngIf="consultarInscripcionResultado === true" class="respuesta">
        {{t_resultado | json }}
        <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                              <s-commons-lista [idLista]='t_resultado' class="row"></s-commons-lista>
                           -->

      </div>
      

      <app-c-commons-lista></app-c-commons-lista>
      
      <div class="listado">
        
        <div *ngFor="let residente of residentes" class="fila">
          <div>{{residente.id}}</div>
          <div>{{residente.apellido}}</div>
          <div>{{residente.nombre}}</div>
          <div>{{residente.tipodoc}}</div>
          <div>{{residente.ndoc}}</div>
          <div>{{residente.paisnacimiento}}</div>
          <div class="acciones">
            <div class="al"><span class="icon-bot_ico_acceder_ver"></span></div>
            <div class="al"><span class="icon-bot_ico_cancelar"></span></div>
            <div class="al"><span class="icon-askeletor"></span></div>
          </div>
        </div>
      </div>


      <p> -> {{residentes |json}}</p>


    </div>
  </div>
</div>