<app-paginabase [info]="infoPaginaBase"></app-paginabase>
<div class="container">

    
<!-- Formulario i -->
<form #inscripcionForm="ngForm"  class="Formulario seccionesPaso">


<app-c-commons-panelpasos [infoInput]="infoPasoAPaso"></app-c-commons-panelpasos>
    
  <div>
    <!--  class="container" [style.display]="_pasoActual === 0 ? 'block': 'none'" -->
    <!-- <div class="container" *ngIf="_pasoActual === 0"> -->
    <!-- <div class="container" [ngClass]="{ d-none: _pasoActual !== 0 } > -->
    <h2>Seleccione Provincia o Institución donde desea inscribirse</h2>
    <div class="row">
        <div class="col-12 col-md-6">
        <div class="contenedor">

            <div class="item">
            <div class="w30_">
                <p>Concurso por</p>
            </div>
            <div class="rb w70_">
                <div>
                <input type="radio" id="radio01" name="radio" value=true [(ngModel)]="inscripcionModelo.a_concursaTipo"
                    name="_a_concursaTipo" />
                <label for="radio01">
                    <span></span>Provincia</label>
                </div>
                <div>
                <input type="radio" id="radio02" name="radio" value=false [(ngModel)]="inscripcionModelo.a_concursaTipo"
                    name="_a_concursaTipo" />
                <label for="radio02">
                    <span></span>Institución</label>
                </div>
                <small
                [style.display]="(validacionesCampos[0]['completado'] === false) ? 'flex': 'none'">{{validacionesCampos[0]['info']}}</small>
            </div>
            </div>

        </div>

        </div>

        <!--  -->
        <div class="col-12 col-md-6">
        <!-- 
                            <p>=> {{inscripcionForm.value|json}}</p>
                            <p>=> {{inscripcionForm.value['a_concursaTipo'] |json}}</p>
                            <p> -> {{inscripcionForm.value['a_concursaTipo']}}</p>
                            -->

        <div class="contenedor" [style.display]="inscripcionForm.value['a_concursaTipo'] === null ? 'none': 'block'">
            <!-- <p>=> {{_provincias | json}}</p> -->

            <div class="item" [style.display]="inscripcionForm.value['a_concursaTipo'] === 'true' ? 'flex': 'none'">
            <div class="w30_">
                <p>Provincia</p>
            </div>
            <div class="columna w70_">
                <select name="_a_concursaProvincia" [(ngModel)]="inscripcionModelo.a_concursaProvincia">
                <option value="999" *ngIf="_offLineMode === true" selected>x</option>
                <option value="" selected disabled hidden>Seleccione provincia</option>
                <option *ngFor="let provincia of _provincias" value="{{provincia.idProvincia}}">{{provincia.nombre}}
                </option>
                </select>
                <small
                [style.display]="(validacionesCampos[1]['completado'] === false) ? 'flex': 'none'">{{validacionesCampos[1]['info']}}</small>
            </div>
            </div>

            <!--   <div class="container" [style.display]="_pasoActual === 2 ? 'block': 'none'"> -->
            <div class="item" [style.display]="inscripcionForm.value['a_concursaTipo'] === 'false' ? 'flex': 'none'">
            <div class="w30_">
                <p>Institución</p>
            </div>
            <div class="columna w70_">
                <select name="_a_concursaInstitucion" [(ngModel)]="inscripcionModelo.a_concursaInstitucion">
                <option value="999" *ngIf="_offLineMode === true" selected>x</option>
                <!-- <option value="" selected disabled hidden>Seleccione una institución formadora</option> -->
                <option *ngFor="let instfor of _institucionesFormadoras" value="{{instfor.id}}">{{instfor.nombre}}
                </option>
                </select>
                <small
                [style.display]="(validacionesCampos[2]['completado'] === false) ? 'flex': 'none'">{{validacionesCampos[2]['info']}}</small>
            </div>
            </div>

            <div class="item" [style.display]="inscripcionForm.value['a_concursaTipo'] !== '' ? 'flex': 'none'">
            <div class="w30_">
                <p>Especialidad</p>
            </div>
            <div class="columna w70_">
                <select name="_a_concursaEspecialidad" [(ngModel)]="inscripcionModelo.a_concursaEspecialidad">
                <option value="999" *ngIf="_offLineMode === true" selected>x</option>
                <!-- <option value="" selected disabled hidden>Seleccione una especialidad</option> -->
                <option *ngFor="let especialidad of _especialidades" value="{{especialidad.id}}">{{especialidad.nombre}}
                </option>
                </select>
                <small
                [style.display]="(validacionesCampos[3]['completado'] === false) ? 'flex': 'none'">{{validacionesCampos[3]['info']}}</small>
            </div>
            </div>
        </div>
        </div>


        </div>
        => {{validacionesCampos[0] | json}}
        <br>
        => {{validacionesCampos[1] | json}}
        <br>
        => {{validacionesCampos[2] | json}}
        <br>
        => {{validacionesCampos[3] | json}}
  </div>

</form>
<!-- Formulario f -->


</div>
