<app-paginabase [info]="infoPaginaBase"></app-paginabase>
<div class="container">
    <!--     
        <div class="row">
            <div class="col-12">
                <h1>Peinscripcion</h1>
                <p>inscripcion works!</p>
            </div>
        </div>
    -->

<form action="">



    
  <div> <!--  class="container" [style.display]="_pasoActual === 0 ? 'block': 'none'" -->
        <!-- <div class="container" *ngIf="_pasoActual === 0"> -->
        <!-- <div class="container" [ngClass]="{ d-none: _pasoActual !== 0 } > -->
        <h2>Seleccione Provincia o Institución donde desea inscribirse</h2>
        <div class="row">
    
          <div class="col-12 col-md-6">x</div>
        </div>
  </div>

</form>






















            
</div>
