<app-paginabase [info]="infoPaginaBase"></app-paginabase>


<div class="container">


  <div class="row">
    <ul class="residenciasMenu">
      <li>
            <a routerLink="/inscripcion">
  
          <div class="icono">
            <span class="icon-bot_ico_editar"></span>
          </div>

          <h2>Pre-inscripción</h2>
          <h4>Concurso de Residencias</h4>

        </a>
      </li>
      <li>
            <a routerLink="/consultas">

          <div class="icono">
            <span class="icon-bot_ico_auditoriaconsultar"></span>
          </div>

          <h2>Consultas</h2>
          <h4>Concurso de Residencias</h4>
        </a>
      </li>
    </ul>
  </div>

</div>
