<p>lista works!</p>

<div class="listaContenedor">

  <div *ngFor="let residente of residentes" class="fila">

    <div>{{residente.id}}</div>
    <div>{{residente.apellido}}</div>
    <div>{{residente.nombre}}</div>
    <div>{{residente.tipodoc}}</div>
    <div>{{residente.ndoc}}</div>
    <div>{{residente.paisnacimiento}}</div>
    <div class="acciones">
      <div class="al"><span class="icon-bot_ico_acceder_ver"></span></div>
      <div class="al"><span class="icon-bot_ico_cancelar"></span></div>
      <div class="al"><span class="icon-askeletor"></span></div>
    </div>
  
  </div>

</div>