<app-sisa></app-sisa>


<div class="container">
  <div class="row">
      <div class="col-6">x</div>
      <div class="col-6">y</div>

      <div class="col-1">z</div>
      <div class="col-1">z</div>
      <div class="col-1">z</div>
      <div class="col-1">z</div>
      <div class="col-1">z</div>
      <div class="col-1">z</div>
      <div class="col-1">z</div>
      <div class="col-1">z</div>
      <div class="col-1">z</div>
      <div class="col-1">z</div>
      <div class="col-1">z</div>
      <div class="col-1">z</div>
  </div>
</div>
<router-outlet></router-outlet>
